@import '../../css/variables.css';
.Details{
    width: 100%;
    height: auto;   
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 40px;
    transition:all var(--transition-duration) linear;
    padding: var(--container-padding);
    overflow-x: auto;
}
.right-details{
    display: grid;
    grid-template-rows: 1fr  13fr;
    gap: var(--container-padding);
}
.right-details-description{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    gap: var(--container-padding);
    height: 70px;
}
.left-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: var(--container-padding);
    background-color:var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    margin-bottom: var(--container-padding);
}
@media (max-width: 992px){
    .Details{
        grid-template-columns: 1fr;
    }
    .right-details-description{
        grid-template-columns:1fr ;
        height: 100px;
    }
    .right-details{
        grid-template-rows: 30fr 10fr 24fr;
    }
}
@media (max-width: 576px){
    .right-details{
        grid-template-rows: 18fr 6fr 36fr;
    }
}
