@import '../../css/variables.css';
.Details{
    width: 100%;
    height: 100%;   
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 40px;
    transition:all var(--transition-duration) linear;
    padding: var(--container-padding);
}
.right-details{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr  8fr;
    gap: var(--container-padding);
}
.right-details-description{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    gap: var(--container-padding);
}
.left-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: var(--container-padding);
    background-color:var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
}
.left-details-header{
    font-size: 16px;
    color:var(--heading-color);
    font-weight: var(--font-weight-bold);
}
.left-details-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.left-details-form{
    display: flex;
    flex-direction: column;
    gap: var(--container-padding);
}
.left-details-form-btn{
    padding:var(--padding);
    border-radius: var(--small-border-radius);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    font-weight: var(--font-weight-bold);
}