@import '../../css/variables.css';
.sub-category-datatable{
    width: 100%;
    padding: var(--padding);
}
.sub-category-datatable-title{
    font-size: var(--font-size);
    font-weight:var(--font-weight-bold);
    color:var(--heading-color) ;
}