@import '../../../css/variables.css';
.subheading-left-title{
    display: flex;
    width: 100%;
    padding: var(--container-padding);
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}
.subheading-left-title-name{
    color: var(--text-color);
    font-size: var(--font-size);
    text-transform: capitalize;
    font-weight: var(--font-weight-bold);
}
.subheading-left-title-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--container-padding);
}
.subheading-left-title-right-btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--padding);
    background-color: var(--button-primary-background);
    border: none;
    border-radius: var(--large-border-radius);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    color: var(--button-primary-text-color);
    box-shadow:var(--box-shadow) ;
}
.Reload-icon{
    color: var(--heading-color);
    cursor: pointer;

}
@media (max-width: 576px){
    .subheading-left-title-name{
        font-size: var(--font-size-small);
    }
    .subheading-left-title-right{
        gap: 5px;
    }
    .subheading-left-title-right-btn{
        gap: 0;
    }
    .subheading-left-title-right-btn{
        padding:4px;
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-small);
        padding-right: var(--padding);
    }
    .subheading-icons{
        size: 10px;
    }
}