@import './presentation/css/variables.css';
*{
transition: background-color var(--transition-duration) linear;
}
.main-background{
    background-color: var(--background-color);
    display: flex;
    flex-direction: var(--float);
    height: var(--height);
    width: var(--extra-large-width);
    
}
.main{
    width: var(--large-width);
    overflow-y: auto;
}