@import '../../css/variables.css';
.SideBar{
    width: var(--min-width);
    height: var(--extra-large-width);
    overflow-y: auto;
    overflow-x: hidden;
    transition:var(--transition-duration) linear;
    background-color: var(--background-color);
}
.nonTransparentSideBar{
    background-color:var(--secondary-background-color);
}
.SideBar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--min-height);
    flex-direction: column;
    transition:var(--transition-duration) linear;
    overflow: hidden;
}
.logo{
    height: var(--larger-heght);
}
.logo-title{
    font-size: var(--font-size-large);
    color: var(--heading-color);
    transition: var(--transition-duration) linear;
    text-wrap: nowrap; 
}
.logo-slogan{
    font-size: var(--font-size-small);
    color: var(--text-color);
    opacity: var(--darker-opacity);
    transition: var(--transition-duration) linear;
    text-wrap: nowrap;
}
hr{
    opacity: 0.05;
}
.SideBar-nav{
    color: var(--text-color);
    opacity: var(--medium-opacity);
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: var(--padding);
    padding: var(--container-padding);
    cursor: pointer;
    font-size: var(--font-size);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-easing);
}
.SideBar-nav:hover{
    background-color: var( --background-color);
    opacity:var(--medium-opacity);
}
.SideBar-nav:active{
    background-color: var(--nav-hover-color);
    opacity:var(--medium-opacity);
}
.mobileClose{
    display: none;
}
@media (max-width: 992px) {
    .SideBar {
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        transition: width 0.3s linear;
        box-shadow: var(--box-shadow);
    }
    .mobileClose {
        display: flex;
        position: absolute;
        top: var(--container-padding);
        right: var(--padding);
        padding: 5px;
        background-color: var(--primary-color);
        border-radius: 5px;
        cursor: pointer;
    }
    .SideBar-logo{
        height: auto;
        padding-bottom: var(--padding);
        display: flex;
        align-items: start;
        justify-content: flex-start;
        padding-top:var(--container-padding);
        padding-left: var(--padding);
    }
    .logo{
        height:40px
    }
    .logo-title{
        display: none;
    }
    .logo-slogan{
        display: none;
    }
    .CloseMobileSideBar{
        width:0px;
        overflow: hidden;
    }
}
@media (max-width: 768px){

}
@media (max-width: 576px){


}