@import '../../../css/variables.css';
.right-details-chart-contaner{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--container-padding);
}
.right-details-chart{
    height: 100%;
    padding: var(--container-padding);
    background-color:var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
}
@media (max-width: 768px){
    .right-details-chart-contaner{
        grid-template-columns: 1fr;
    }
}